@model Nhom12_EWallet.ViewModels.UserManagementVM
@{
	ViewData["Title"] = "Thông tin cá nhân";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<div class="information-change">
				<a class="toggle-title" href="#changeinfo-collapse" data-bs-toggle="collapse" aria-expanded="false">
					<h4>
						Thông tin cá nhân
					</h4>
				</a>
				<div class="information-set collapse show" id="changeinfo-collapse">
					<div class="information-wrapper">
						<div class="mb-3">
							<label for="proName" class="form-label fw-bold">Họ và tên</label>
							<input type="text" class="form-control editable-field" id="proName" name="fullName" disabled>
							<span class="text-danger mt-1" id="proNameError"></span>
						</div>

						<div class="mb-3">
							<label for="proPhoneNumber" class="form-label fw-bold">Số điện thoại</label>
							<input type="text" class="form-control" id="proPhoneNumber" readonly>
						</div>

						<div class="mb-3">
							<label for="proCCCD" class="form-label fw-bold">Căn cước công dân</label>
							<input type="text" class="form-control" id="proCCCD" readonly>
						</div>
						<div class="mb-3">
							<label for="proEmail" class="form-label fw-bold">Email</label>
							<input type="email" class="form-control editable-field" id="proEmail" name="email" disabled>
							<span class="text-danger mt-1" id="proEmailError"></span>
						</div>
						<div class="mb-3">
							<label for="proBirthDate" class="form-label fw-bold">Ngày sinh</label>
							<input type="date" class="form-control editable-field" id="proBirthDate" name="birthDate" disabled>
							<span class="text-danger mt-1" id="proBirthDateError"></span>
						</div><div class="mb-3">
							<label for="proBalance" class="form-label fw-bold">Số dư</label>
							<input type="text" class="form-control" id="proBalance" readonly>
						</div>
						<div class="mb-3 text-end">
							<button type="button" class="btn btn-primary" id="btnEditProfile">
								Sửa thông tin
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="information-change">
				<a class="toggle-title" href="#changepass-collapse" data-bs-toggle="collapse" aria-expanded="false">
					<h4>
						Đổi mật khẩu
					</h4>
				</a>
				<div class="information-set collapse" id="changepass-collapse">
					<div class="information-wrapper">
						<form method="post" action="" id="changepass-form">
							<div class="form-group mb-3">
								<label for="oldpassword" class="form-label fw-bold">Mật khẩu cũ</label>
								<input type="password" class="form-control" rules="required|min:6" id="oldpassword"
									   name="oldpassword" placeholder="Nhập mật khẩu cũ">
								<div class="form-message text-danger"></div>
							</div>
							<div class="row">
								<div class="col-md-6 form-group mb-3">
									<label for="newpassword" class="form-label fw-bold">Mật khẩu mới</label>
									<input type="password" class="form-control"
										   rules="required|min:6|newPassword:[name='oldpassword']" id="newpassword"
										   name="newpassword" placeholder="Nhập mật khẩu mới">
									<div class="form-message text-danger"></div>
								</div>
								<div class="col-md-6 form-group mb-3">
									<label for="renewpassword" class="form-label fw-bold">Nhập lại mật khẩu mới</label>
									<input type="password" class="form-control"
										   rules="required|confirm:[name='newpassword']" id="renewpassword"
										   name="renewpassword" placeholder="Nhập lại mật khẩu mới">
									<div class="form-message text-danger"></div>
								</div>
							</div>
							<div class="mb-3 text-end">
								<button class="btn btn-primary">Lưu thay đổi</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="information-change" id="changecode">
				<a class="toggle-title" href="#changecode-collapse" data-bs-toggle="collapse" aria-expanded="false">
					<h4>
						Đổi mã pin
					</h4>
				</a>
				<div class="information-set collapse" id="changecode-collapse">
					<div class="information-wrapper">
						<div class="mb-3">
							<label for="oldcode" class="form-label fw-bold">Mã pin cũ</label>
							<input type="password" class="form-control" id="oldcode" placeholder="Nhập mã pin cũ">
						</div>
						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="newcode" class="form-label fw-bold">Mã pin mới</label>
								<input type="password" class="form-control" id="newcode" placeholder="Nhập mã pin mới">
							</div>
							<div class="col-md-6 mb-3">
								<label for="renewcode" class="form-label fw-bold">Nhập lại mã pin mới</label>
								<input type="password" class="form-control" id="renewcode"
									   placeholder="Nhập lại mã pin mới">
							</div>
						</div>
						<div class="mb-3 text-end">
							<button type="submit" class="btn btn-primary">Lưu thay đổi</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts{
	<script src="~/js/user.js"></script>
	<script>
				

	</script>
}