@using Nhom12_EWallet.ViewModels
@model Nhom12_EWallet.ViewModels.RegisterVM
@{
	ViewData["Title"] = "Đăng ký";
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="user-containter">
	<div class="user-box-register">
		<h2 class="text-center mb-4">Đăng ký</h2>
		<form asp-action="Register" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row">
				<!-- Cột 1 -->
				<div class="col-md-6">
					<div class="mb-3">
						<label asp-for="FullName" class="form-label"></label>
						<input asp-for="FullName" class="form-control" placeholder="Nhập họ tên" type="search" />
						<span asp-validation-for="FullName" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="PhoneNumber" class="form-label"></label>
						<input asp-for="PhoneNumber" class="form-control" placeholder="Nhập số điện thoại" type="search" />
						<span asp-validation-for="PhoneNumber" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="CCCD" class="form-label"></label>
						<input asp-for="CCCD" class="form-control" placeholder="Nhập số căn cước công dân" type="search" />
						<span asp-validation-for="CCCD" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="BirthDate" class="form-label"></label>
						<input asp-for="BirthDate" class="form-control" placeholder="Nhập ngày sinh" id="BirthDate"  />
						<span asp-validation-for="BirthDate" class="text-danger"></span>
					</div>
				</div>

				<!-- Cột 2 -->
				<div class="col-md-6">
					<div class="mb-3">
						<label asp-for="Email" class="form-label"></label>
						<input asp-for="Email" class="form-control" placeholder="Nhập email" type="search" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="PinCode" class="form-label"></label>
						<input asp-for="PinCode" class="form-control" placeholder="Nhập mã pin (6 số)" type="search" />
						<span asp-validation-for="PinCode" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Password" class="form-label"></label>
						<input asp-for="Password" class="form-control" placeholder="Nhập mật khẩu" type="search" />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="ConfirmPassword" class="form-label"></label>
						<input asp-for="ConfirmPassword" class="form-control" placeholder="Nhập lại mật khẩu" type="search" />
						<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					</div>
				</div>
			</div>

			<input type="submit" class="btn btn-success w-100 p-2" value="Đăng ký" />
			<p class="text-center mt-2">
				Đã có tài khoản? <a asp-controller="User" asp-action="Login" class="text-decoration-none">Đăng nhập</a>
			</p>
			<div class="text-center">
				<a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Quay lại</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

}


