@* @model List<Nhom12_EWallet.ViewModels.DepositWithdrawVM> *@

@{
    ViewData["Title"] = "Nạp tiền";
}
<div class="container">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@TempData["SuccessMessage"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <!-- Hiển thị thông báo lỗi nếu có ErrorMessage trong TempData -->
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong> @TempData["ErrorMessage"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="row justify-content-center">
        <!-- Cột số dư tài khoản (trái) và form nạp tiền (phải) -->
        <div class="col-lg-3 col-md-5">
            <div class="card p-4 text-center">
                <h6 class="fw-bold">SỐ DƯ TÀI KHOẢN HIỆN TẠI</h6>
                <h2 class="text-success fw-bold" id="depoBalance">100,000 VNĐ</h2>
            </div>
        </div>

        <div class="col-lg-6 col-md-7">
            <div class="card p-4">
                <h4 class="fw-bold text-center">Nạp tiền</h4>
                <form id="depositForm">
                    <div class="mb-3">
                        <label for="depoSelectBankAcc" class="form-label">Phương thức thanh toán</label>
                        <select class="form-control form-select" id="depoSelectBankAcc" name="bankAccId">
                            @* render bằng ajax *@
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="depoAmount" class="form-label">Số tiền cần nạp (VNĐ)</label>
                        <input type="number" class="form-control" id="depoAmount" placeholder="Nhập số tiền" name="ammount" required>
                    </div>
                    <div class="mb-3">
                        <label for="repoPIN" class="form-label">Mã PIN</label>
                        <input type="number" class="form-control" id="repoPIN" placeholder="Nhập mã PIN" required>
                    </div>
                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-success w-100">Nạp tiền</button>
                        <a href="/add-new-bannk-account" class="btn btn-primary w-100">Thêm tài khoản ngân hàng</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/deposit.js"></script>
    <script>
                
    </script>
}

