html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-nav .nav-link {
    position: relative;
    font-weight: 500;
    color: white;
    padding: 8px 12px;
    transition: color 0.3s ease-in-out;
}



    /* Mục đang chọn */

    .navbar-nav .nav-link.active {
        color: #ffc107 !important;
        font-weight: bold;
        border-bottom: 2px solid #ffc107;
    }



    /* Hiệu ứng hover */

    .navbar-nav .nav-link:hover {
        color: #ffc107 !important;
    }

.bg-image {
    background-image: url('/images/bg11.jpg');
    background-size: cover;
    /* Đảm bảo ảnh phủ toàn bộ phần tử */

    background-position: center;
    /* Căn giữa ảnh */
}



    .bg-image::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: inherit;
        filter: blur(5px); /* Làm mờ hình nền với độ mờ cụ thể */
        z-index: -1;
    }


.navbar img {
    max-height: 80px;
    /* Giảm kích thước logo trên màn hình nhỏ */
}



h3 {
    font-size: 1rem;
    /* Giảm kích thước chữ trên màn hình nhỏ */
}

#navtitile {
    font-size: small;
    /* Giảm kích thước chữ trên màn hình nhỏ */
}



.navbar {
    padding: 10px 0;
    /* Giảm padding tổng thể */
}
.navbar-toggler-icon {
    color: black !important;
}

/*trang profile*/
.user-about {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.information-change {
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .information-change a {
        display: block;
        text-decoration: none;
        color: black;
        padding: 30px;
    }

    .information-change h4 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.information-set {
    border-top: 1px solid #e5e5e5;
}

.information-wrapper {
    padding: 30px;
}

